.stageselection-container{
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
}

@media only screen and (min-width: 768px){
  .stageselection-container{
    column-gap: 2%;
    grid-template-columns: 40% 58%;
    grid-template-rows: 6rem 34rem auto;
  }
}

.prevClassifications table td:first-child,.prevClassifications table td:last-child{
  text-align: center;
}

.prevClassifications table td:nth-child(3){
  font-size: 0.75rem;
  padding-right: 0.25rem;
}

.prevClassifications .table-standard td,.prevClassifications .table-standard tr{
  height: 1rem;
  line-height: 1.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0;
  padding-right: 0;
  max-height: 2rem;
}

.prevClassifications table{
  table-layout:fixed; 
}

tr.inteam{
  background-color: #BFDBFE;
  font-weight: bold;
}

tr.inselection.inteam{
  background-color: #A7F3D0;
  font-weight: bold;
}