div.overzichtContainer{
    display: grid;
    

    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 5vh;
    background-color: rgba(230,230,240,0.68);
    
}




table.ScoreTable tr.inteam {
    color: rgb(0, 0, 255);
}

tr:nth-child(odd) {
    background: #a8a8a8;
}
tr:nth-child(even) {
    background: rgb(95, 95, 95);
}

th{
    background: rgb(49, 49, 49);
    color: white
    
}

th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 17px
}
