@tailwind base;
@tailwind components;
@tailwind utilities;

/*CSS RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
  }
  
  /* remember to define focus styles! */
  
  :focus {
    outline: 0;
  }
  
  body {
    line-height: 1;
  }
  
  ol, ul {
    list-style: none;
  }
  
  /* tables still need 'cellspacing="0"' in the markup */
  table {
    border-collapse: separate;
    border-spacing: 0;
  }
  
  caption, th, td {
    text-align: left;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
  }
  
  blockquote, q {
    quotes: "" "";
  }
  
  /*Probeerscale voor breedte en hoogte*/
  /*4,8,12,16,24,32,48,64,96,128,192,256,384,512,640,768,896,1024*/
  /*4,8,10,15,20,30,40,60,80,120,160,240,320,480,640,760,960,1280*/
  
  body {
    margin: 0;
    font-family: arial;
    font-size: 1.4rem;
    text-decoration: none;
  }
    
  .content {
    background-color: var(--background-color-lighter);
  }

  .content.dark {
    background-color: var(--background-color-dark);
  }

  div.pageContainer {
    box-sizing: border-box;
    min-height: 100vh;
    overflow: auto;
    background-color: var(--background-color-light);
    margin: auto;
    padding-top: 70px;
    color: var(--text-color);
  }
  
  div.pageContainer.dark{
    background-color: var(--background-color);
    color: var(--text-color);
  }

  @media only screen and (min-width: 1280px) {
    div.pageContainer {
      box-sizing: border-box;
      min-height: 100vh;
      overflow: auto;
      background-color: var(--background-color-lighter);
      margin: auto;
      padding-top: 70px;
      width: 1280px;
    }

    div.pageContainer.dark{
      background-color: var(--background-color);
    }
  }
  
  
  img.loadingGif {
    height: 20%;
    margin-left: 0%;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 0;
  }