<nav class="navbar navbar-inverse">
    <div class="container-fluid">
            <a class="navbar-brand" href="/">Sport raden enzo</a>
            
            <a class="navbar-brand" style="float:right" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            <a class="navbar-brand" style="float:right" href="/signup"><span class="glyphicon glyphicon-user"></span> Signup</a>
    </div>
</nav>