<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Sport raden enzo</a>
        
        <a class="navbar-brand" style="float:right" href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
        <a class="navbar-brand" style="float:right" href="/profile"><span class="glyphicon glyphicon-user"></span> Profielpagina</a>
    </div>
</nav>