html {
  font-size: 62.5%; /* 10px */
}
@media screen and ( min-width: 768px ) {
  html {
      font-size: 78.125%; /* 12.5px */
  }
}
body {
  margin: 0;
  font-family: arial;
  font-size: 1.4rem;
  text-decoration: none;
}

  @media only screen and (min-width: 768px) {
  .content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    
    background-image: url("/images/BramTankink.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }
  
  .content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
  }
}

div.pageContainer{  
  height: 95vh;
  overflow: auto;
  background-color: rgba(230,230,240,0.68);
  margin-left: 10vw;
  margin-right: 10vw;
}

.navbar{
  background-color: #444;
  z-index: 999;
  box-shadow: 0px 5px 5px 0px rgba(136,136,136,0.3);
}

img.loadingGif{
  height: 20%;
  margin-left: 0%;
  margin-top: 5%;
  margin-bottom: 0;
  padding: 0;
}