@media only screen and (min-width: 768px) {
  .content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    
    background-image: url("/images/BramTankink.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }
  
  .content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
  }
}

body {
  margin: 0;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
}
  
div.standardContainer{
  margin-left: 0;
  margin-right: 0;
  padding-top: 5vh;
  background-color: rgba(230,230,240,0.98);
  min-height: 93vh
}

@media only screen and (min-width: 768px) {
  div.standardContainer {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}