/*CSS RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
  }
  
  /* remember to define focus styles! */
  
  :focus {
    outline: 0;
  }
  
  body {
    line-height: 1;
    color: var(--text-color);
    background: white;
  }
  
  ol, ul {
    list-style: none;
  }
  
  /* tables still need 'cellspacing="0"' in the markup */
  table {
    border-collapse: separate;
    border-spacing: 0;
  }
  
  caption, th, td {
    text-align: left;
  }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
  }
  
  blockquote, q {
    quotes: "" "";
  }
  
  /*Probeerscale voor breedte en hoogte*/
  /*4,8,12,16,24,32,48,64,96,128,192,256,384,512,640,768,896,1024*/
  
  @media screen and ( min-width: 768px) {
    html {
      font-size: 62.5%;
      /* 12.5px */
    }
  }
  
  body {
    margin: 0;
    font-family: arial;
    font-size: 1.4rem;
    text-decoration: none;
  }
    
  div.pageContainer {
    box-sizing: border-box;
    min-height: 100vh;
    overflow: auto;
    background-color: var(--background-color);
    margin: auto;
    padding-top: 53px;
    width: 75vw;
  }
  
  @media only screen and (min-width: 768px) {
    .content:before {
      content: "";
      position: fixed;
      left: 0;
      right: 0;
      z-index: -1;
      background-image: url("/images/BramTankink.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);
    }
    .content {
      height: 100vh;
      left: 0;
      right: 0;
      z-index: 0;
    }
  
    div.pageContainer {
      box-sizing: border-box;
      min-height: 100vh;
      overflow: auto;
      background-color: var(--background-color);
      margin: auto;
      padding-top: 53px;
      width: 75vw;
    }
  }
  
  
  img.loadingGif {
    height: 20%;
    margin-left: 0%;
    margin-top: 5%;
    margin-bottom: 0;
    padding: 0;
  }