/*Default for all buttons*/
.button_standard{
  border-radius: 0.375rem;
  border-bottom: 3px solid;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 8rem;
}

.button_standard:active{
  border-bottom: 0;
  border-top: 3px solid;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

/*type: primary*/
.button_standard.blue{
  background-color: #3B82F6; /*blue-500*/
  border-color: #1D4ED8; /*blue-700*/
}

.button_standard.blue:hover{
  background-color: #60A5FA; /*orange-400*/
  border-color: #3B82F6; /*blue-500*/
}

.button_standard.blue:active{
  background-color: #1D4ED8; /*blue-700*/
  border-color: #1E40AF; /*blue-800*/
}

/*type: warning*/
.button_standard.orange{
  background-color: #F97316; /*orange-500*/
  border-color: #C2410C; /*orange-700*/
}

.button_standard.orange:hover{
  background-color: #FB923C; /*orange-400*/
  border-color: #F97316; /*orange-500*/
}

.button_standard.orange:active{
  background-color: #C2410C; /*blue-700*/
  border-color: #9A3412; /*blue-800*/
}