<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <% include ./partials/navbarlogin %>
    <div class="col-sm-12 text-left"  id="contentblok">
        <h1>Sport raden enzo</h1>
        <p></p>
        <hr>
    
    </div>
<% include ./partials/footer %>
</body>
</html>