<html>
<body>
                <form id="profieldata" action="/testpost" method="post">
                                <label>Favoriete wielrenner</label>
                                <input type="text" id="favwieler">
                                <label>Favoriete club</label>
                                <input type="text" id="favclub">                
                            <button type="submit" class="btn btn-warning btn-lg">Submit</button>
                        </form>
</body>
</html>