<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
    <% include ./partials/navbarlogin %>
    <div class="col-sm-12 text-left"  id="contentblok">
        <h1>Trivia</h1>
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="spFrame5b0d949a7a9ba" src="https://www.sporcle.com/framed/?v=8&pm&gid=d0698a7ca8e&fid=5b0d949a7a9ba&width=920" style="width:100%;"></iframe>
<script type="text/javascript" src="https://www.sporcle.com/embed/embed.js?v=5b0d949a7a9ba"></script>
    
    </div>
<% include ./partials/footer %>
</body>
</html>