.navbar {
  background-color: var(--grey3);
  border-top: solid 2px;
  border-top-color: var(--default-color);
  z-index: 999;
  box-shadow: 0px 5px 5px 0px rgba(136, 136, 136, 0.3);
  height: 44px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  display: grid;
  grid-template-columns: 210px auto 150px;
}

.navbar.dark {
  background-color: var(--grey1)
}

.navbar.giro {
  border-top-color: var(--giro-color);
}

.navbar.tour {
  border-top-color: var(--tour-color);
}

.navbar.vuelta {
  border-top-color: var(--vuelta-color);
}

.navbar[racename]::after {
  content: attr(racename);
}


@media screen and ( max-width: 767px) {
  .navbar {
    height: 10vh;
    overflow: scroll;
  }
}

/* HOME LINK LOGO */

.navbar_itemhome {
  background: none;
  color: gray;
  border: 5px;
  height: 44px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  grid-column: 1 / 2;
}

.navbar_homelogo {
  height: 32px;
  padding-top: 6px;
  fill: var(--default-color);
  stroke: var(--default-color);
}

.navbar_homelogo.vuelta{
  fill: var(--vuelta-color);
  stroke: var(--vuelta-color);
}

.navbar_homelogo:hover {
  fill: var(--vuelta-color-light);
  transition: 0.3s;
  cursor: pointer;
}

/* RACE LOGO */

.navbar_racelogo {
  height: 36px;
  float: right;
  padding-top: 4px;
  padding-right: 10px;
  grid-column: 3 / 4;
}

.navbar_itemcontainer {
  grid-column: 2 / 3;
}

.navbar_item {
  background: none;
  color: gray;
  border: 5px;
  padding: 10px;
  text-decoration: black;
  display: inline-block;
}

.navbar_item:hover {
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

/* The container <div> - needed to position the dropdown content */

.navbar_dropdown {
  background-color: inherit;
  position: relative;
  display: inline-block;
}

.navbar_dropdown-content {
  background-color: var(--grey3);
  display: block;
  padding-top: 0.5vh;
  position: fixed;
  margin-top: 0vh;
  white-space: nowrap;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Links inside the dropdown */

.navbar_dropdown-content a {
  display: block;
}

.navbar_dropdown_item {
  color: gray;
  border: 5px;
  padding: 7px;
  text-decoration: black;
  display: inline-block;
}

.navbar_dropdown_item:hover {
  color: white;
  cursor: pointer;
  transition: 0.3s;
}