.navbar_link{
  display: block;
  cursor: pointer;
  white-space: nowrap;
}

/* The links in the navbar */
.navbar_link:hover {
  color: white;
  transition: 300ms;
}

/* The container <div> - needed to position the dropdown content */
.navbar_dropdown-content {
  background-color: #1F2937; /*gray-800*/
  color: #9CA3AF; /*gray-400*/
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  position: fixed;
  top: 3rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.navbar_dropdown_item {
  border-top: 1px solid #6e737a; /*gray-600*/
  padding: 4px;
  padding-right: 8px;
}

.navbar_dropdown_item:hover {
  background-color: #6e737a; /*gray-600*/
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  transition: 0.3s;
}

.navbar_settings_dropdown_item{
  border-top: 1px solid #6e737a; /*gray-600*/
  font-size: 1.25rem;
  padding: 10px;
  padding-right: 16px;
}

.navbar_settings_dropdown_item:hover {
  background-color: #6e737a; /*gray-600*/
  color: white;
  padding-left: 12px;
  padding-right: 14px;
  transition: 0.3s;
}