tr:nth-child(odd) {
    background: #f9f9f9;
}
tr:nth-child(even) {
    background: #fff;
}


div.stageContainer{  
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 1em;
    padding-bottom: 1vh;
    background-color: rgba(230,230,240,0.98);
    justify-items: center;
}
div#titlebuttons {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    grid-column: 1/3;
    grid-row: 1;    
}

div.res {
    grid-column: 1;
    grid-row: 2;
}

div.poule {
    grid-column: 2;
    grid-row: 2;
}

div.stage {
    grid-column: 1;
    grid-row: 3;
}

.selectionInfo {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
}

.pouleUser:hover .selectionInfo {display: block;}

.pouleUser:hover {
    cursor: pointer;
}
