tr:nth-child(odd) {
    background: #f9f9f9;
}
tr:nth-child(even) {
    background: #fff;
}

div.standardContainer{
    height: 100vh;
    overflow: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 01fr 4fr 4fr;
    grid-gap: 1em;
    /* padding: 0 1em;  */
}
div.titlebuttons {
    grid-column: 1;
    grid-row: 1;    
}

div.res {
    grid-column: 1;
    grid-row: 2;
}

div.poule {
    grid-column: 2;
    grid-row: 2;
}

div.stage {
    grid-column: 1;
    grid-row: 3;
}

tr.inteam1{
    color: yellow;
}


th{
    background: rgb(49, 49, 49);
    color: white
    
}

th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 17px
}

button#previousStageButton{
    float: left;
}


table {
    border: 1px solid black;
  }
