tr:nth-child(odd) {
    background: #f9f9f9;
}
tr:nth-child(even) {
    background: #fff;
}

div.standardContainer{
    overflow: scroll;
}

th{
    background: rgb(49, 49, 49);
    color: white
    
}

th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 17px
}

button#previousStageButton{
    float: left;
}


table {
    border: 1px solid black;
  }
