.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #374151; /*gray-700*/
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: -1px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.04));
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
}

/*background color slider*/
input:checked+.slider {
  background-color: #3B82F6;
}

input:focus+.slider {
  box-shadow: 0 0 1px #3B82F6;
}

input:checked+.slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

