table {
    border: 1px solid black;
}

tr:nth-child(odd) {
    background: #a8a8a8;
}
tr:nth-child(even) {
    background: rgb(95, 95, 95);
}

th{
    background: rgb(70, 70, 70);
    color: white
}

caption{
    background: rgb(46, 46, 46);
    color: white;
    font-size: 25px;
}
th.sortable{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

tr.inteam{
    font-weight: bold;
}

th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 17px
}

.scrollButton {
    background-color: grey;
    color: black;
    border: 5px;
    margin: 0 1px;
    line-height: 5vh;/* hele nare hack graag verwijderen*/
    text-decoration: black
  }