table {
    border: 1px solid black;
    table-layout: auto;
}

tr:nth-child(odd) {
    background: #c7c7c7;
}
tr:nth-child(even) {
    background: rgb(141, 141, 141);
}

th{
    background: rgb(70, 70, 70);
    color: white
}

caption{
    background: rgb(46, 46, 46);
    color: white;
    font-size: 25px;
    text-align: center;
}
th.sortable{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

tr.inteam{
    font-weight: bold;
    color: gray;
}

tr.inselection{
    font-weight: bold;
    color: black;
}

th, td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 15px;
    border: 1px black solid;
}

.scrollButton {
    background-color: grey;
    color: black;
    border: 5px;
    margin: 1px 1px;
    text-decoration: black;
    font-size: 16px;
  }

  .btn-group{
      display: flex;
  }

  .btn-group > button{
      flex-grow: 1;
  }

  .tableContainer{
      width: 100%;
  }

  thead{
      width:100%;
  }
  tbody{
      width: 100%;
  }
  tr {
    width: 100%;
}
