button.buttonStandard {
  border-radius: 6px;
  border-style: none;
  font-weight: bold;
  font-size: 15px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 5vh;
  border: 2px solid;
  background-color: var(--background-color-lighter);
  color: var(--default-color);
}
/* praktisch overbodig ?? */
button.buttonStandard.blue{
  background-color: var(--default-color);
  color: white;
}

button.buttonStandard.blue:hover{
  background-color: var(--default-color-light);
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}
/*  */


button.buttonStandard.giro{
  color: var(--giro-color);
}

button.buttonStandard.tour{
  color: var(--tour-color);
}

button.buttonStandard.vuelta{
  color: var(--vuelta-color);
}

button.buttonStandard:hover{
  background-color: #ddd;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

button.plain{
  border: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 16px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  background-color: var(--background-color-lighter);
  width: 80px;
  height: 40px;
  -webkit-box-shadow: 0 0 5px -2px rgba(102,102,102,1);
  -moz-box-shadow: 0 0 5px -2px rgba(102,102,102,1);
  box-shadow: 2px 2px 5px -2px rgba(102,102,102,1);

}

button.plain.blue{
  background-color: var(--default-color);
}

button.plain.blue:hover{
  background-color: var(--default-color-light);
}

button.plain:hover{
  cursor: pointer;
}

/*Icons inside buttons*/
button > img{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/*Sliders*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color-dark);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
/* add race color */
input:checked+.slider {
  background-color: var(--vuelta-color);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--vuelta-color);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}