/*Default table css, overruled by more specified table classes*/
table {
    width: 100%;
    background: none;
}

tr {
    width: 100%;
    box-shadow: 0px 1px gray
}

th{
    background: var(--background-color-dark);
    color: white
}

table > caption{
    background: var(--background-color-darker);
    color: white;
    font-size: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    box-shadow: 0px 1px gray;
    width: 100%
}

th.sortable{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

th, td {
    padding: 6px 5px 5px 5px; /* compensatie voor box shadow */
    text-align: left;
    font-size: 15px; 
}

tr.bold > :first-child{
    padding: 4px 3px 3px 3px;
}
tr.gray > :first-child {
    border:  2px white dotted;
    background-color: rgb(219, 219, 219);
    color: black;
}

tr.black > :first-child {
    border:  2px white solid;
    background-color: rgb(59, 59, 59);
    color: lightgray;
}

td.rank{
    width: 25px;
    text-align: center;
}



.scrollButton {
    background-color: grey;
    color: black;
    border: 5px;
    margin: 1px 1px;
    text-decoration: black;
    font-size: 16px;
  }

  .btn-group{
      display: flex;
  }

  .btn-group > button{
      flex-grow: 1;
  }

  .tableContainer{
      width: 100%;
  }

  thead{
      width:100%;
  }
  tbody{
      width: 100%;
  }
  
  .tableLink {
    text-decoration: none;
    color:inherit;
  }

  .tableLink:hover {
    text-decoration: underline;
  }