.switchButtonSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4B5563; /*gray-700*/
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
}

.switchButtonSlider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: -1px;
  bottom: 0px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.04));
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
}

/*background color slider*/
input:checked+.switchButtonSlider {
  background-color: #3B82F6; /*blue-500*/
}

input:focus+.switchButtonSlider {
  box-shadow: 0 0 1px #3B82F6; /*blue-500*/
}

input:checked+.switchButtonSlider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
