<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <% include ../partials/head %>
    <title>World population</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
        <style>
            table {
                border-spacing: 0;
                width: 100%;
                border: 1px solid #ddd;
            }

            div#contentblok {
                height: 95vh;
            }

            .scrolltabel tbody {
                overflow: auto;
                width: 100%;
            }

            .scrolltabel thead {
                position: relative;
                height: 4vh;
                cursor: pointer;
            }

            th,
            td {
                text-align: left;
                padding: 16px;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2
            }

            tr:nth-child(odd) {
                background-color: #ffffff
            }
        </style>
</head>

<body>
    <% include ../partials/navbarlogout %>
        <div class="col-sm-12 text-left" id="contentblok">
            <div class="bovenrijtje">
                <a href="/profile" class="etappebutton">◄ &nbsp; &nbsp; Profiel</a>
                <a href="/giro" style="float:right" class="etappebutton">Naar de giro &nbsp; &nbsp; ►</a>
            </div>
            <div style="height:78.5vh; overflow:auto;">
                <canvas id="mycanvas" width="1150" height="600"></canvas>
            </div>
            <select>
                <option value="0">RensR</option>
                <option value="1">RensRBudget</option>
            </select>

        </div>
        <footer class="container-fluid text-center">
            <p></p>
        </footer>
        <script>
            var chrt = document.getElementById("mycanvas").getContext("2d");
            var datas = "<%= scores %>";
            var scores = datas.split(',').map(score => parseInt(score));
            var usernames = "<%= usernames %>";
            usernames = usernames.split(',');
            var datasets = [];
            var bgColors = ['Blue','Green','Red','Orange'];
            var borderColors = ['DarkBlue','DarkGreen','DarkRed','DarkOrange'];
            for (user in usernames) {
                var tempscores = scores.slice(0 + user * 22, 22 + user * 22)
                var totaalscore = new Array(tempscores.length);
                totaalscore[0]=0;
                for (var i = 0; i < tempscores.length+1; i++) {
                    totaalscore[i] = tempscores.slice(0, i).reduce((a, b) => a + b, 0);
                }
                datasets.push({
                    label: usernames[user],
                    data: totaalscore,
                    borderColor: borderColors[user],
                    backgroundColor: bgColors[user],
                    borderWidth:2,
                    fill: false,
                    lineTension: 0
                })
            }
            
            var data = {
                type: "line",
                data:{
                    labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22"], //x-axis
                    datasets: datasets
                },
                options: {
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Punten'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Etappe'
                        }
                    }]
                }
            }
            };

            var myFirstChart = new Chart(chrt,data)
        </script>
</body>

</html>