div.mainContainer {
    background-color: rgba(230,230,240);
    overflow: auto;
    display:grid;
    grid-template-rows: repeat(3,1fr)    
}

div.raceType{
    display:grid;
    grid-template-rows: repeat(3,40px);
    grid-template-columns: repeat(5,1fr)

}

div.row {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-gap: 5px 10px;
    padding: 1em;
    float: left;
}

div.grMainRow {
    display: grid;
    grid-template-columns: 35px 60px 40px 60px;
    grid-gap: 5px 10px;
    padding: 1em;
    height: 30px;
}

div.title {
    font-size: 40px;
    grid-column: 1/20
}

div.discription {
    grid-column: 1/5;
    grid-row: auto
}

div.outputStatus{
    border-style: solid;
    border-width: 2px;
    width: 150px;
    height: 15px;
    background-color: white
}

input.inprogress {
    background-color: yellow;
}
input.completed {
    background-color: green;
}

input.error {
    background-color: red;
}