div.adminpageContainer{
    width: 100%;
    margin-bottom: 1vh;
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

textarea.queryInputBox{
    font-size: 16px;
    background: black;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    color: white;
}

div.outputTableContainer{
    max-height: 95vh;
    overflow: auto;
}

table.outputTable{
    font-size: 10px;
    background: black;
    color: white;
}

 /* Style the tab */
 .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #363636;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    color: rgb(255, 255, 255);
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(65, 65, 65);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: rgb(17, 17, 17);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  } 

  .varRow {
    color: white;
  }

  .varRow textarea { 
    height: 100px;
    width: 1000px;
    font-size: 16px;
  }
  
  #sugPopUp{
    color: white;
    background: black;
    padding: 1px;
    position: absolute;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .selectedSuggestion{
    background: darkblue;
  }

  .suggestion {
    font-size: 16px;
  }

  .suggestion:hover{
    background: gray;
    cursor: pointer;  
  }

  /* Loading data css */
  .loadingData.true{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(100,100,100,0.7);
    text-align: center;
    vertical-align: center;
  }

  .loadingData > img {
    display: block;
    margin: auto;
    width: 100%;
  }

  .loadingData.false{
    display: none;
  }
