.teamselection-table th{
  background-color: #3B82F6;
  font-size: 1.5rem;
}

.teamselection-table th:first-child {
  border-top-left-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.teamselection-table th:last-child {
  border-top-right-radius: 0.5rem;
}

.teamselection-table.userteam th{
  text-align: center;
}

table.teamselection-table tr{
  border-left: 2px solid #93C5FD;
  border-right: 2px solid #93C5FD;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

table.teamselection-table td{
  vertical-align: middle;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

table.teamselection-table td:first-child {
  padding-left: 0.75rem;
}

table.teamselection-table td:not(:first-child) {
  text-align: center;
}

table.teamselection-table td {
  border-bottom: 2px solid #DBEAFE;
}
table.teamselection-table td:first-child {
  border-left: 2px solid #93C5FD; /*blue-200*/
}

table.teamselection-table td:last-child {
  border-right: 2px solid #93C5FD; /*blue-200*/
}

table.teamselection-table tr:last-child td{
  border-bottom: 2px solid #93C5FD; /*blue-200*/
}

table.teamselection-table tr:last-child td:first-child{
  border-bottom-left-radius: 0.5rem;
}

table.teamselection-table tr:last-child td:last-child{
  border-bottom-right-radius: 0.5rem;
}


div.budget{
    text-align: center;
    background-color: lightgray;
    width: 400px;
}

button.budgetSwitch{
    text-align: center;
    background-color: lightgray;
    border: 2px solid  gray;
    height: 40px
}

div.teamindicator{
    text-align: center;
    background-color: lightgray;
    width: 400px;
}

.riderRow:hover {
  background-color: #F9FAFB;
  cursor: pointer;

}

.riderRow .selected{
    background-color: #D1FAE5;
}

.riderRow:hover .selected{
  background-color: #ECFDF5;
}

.riderRow .unselectable{
    background-color: #FEE2E2;
}

.riderRow:hover .unselectable{
    background-color: #FEF2F2;
}

.unselectable{
    color: #6B7280;
}

tr.unselectable  {
  content: " ";
  top: 50%;
  left: 0;
  width: 100%;
}

tr.unselectable > td:after {
  content: "\00B7";
  font-size: 1px;
}

button.joinRace{
    width:400px; 
    height:200px; 
    position: fixed; 
    top: 30%; 
    left: 50%; 
    margin-top: -100px; 
    margin-left: -200px; 
}

.filterField{
    height: 15px;
    display: block;
    clear: both;
}