div.container{
    display: flex;
    margin: 0;
}
div.ridertablecontainer{
    width: 40%;
}
div.usertablecontainer{
    position: fixed;
    float: right;
    width: 40%;
    right: 0%; 
}

div.budget{
    text-align: center;
    background-color: lightgray;
    width: 400px;
}

button.budgetSwitch{
    text-align: center;
    background-color: lightgray;
    border: 2px solid  gray;
    height: 40px
}

div.teamindicator{
    text-align: center;
    background-color: lightgray;
    width: 400px;
}

.selected{
    background-color: green
}

.unselectable{
    background-color: red
}

button.joinRace{
    width:400px; 
    height:200px; 
    position: fixed; 
    top: 30%; 
    left: 50%; 
    margin-top: -100px; 
    margin-left: -200px; 
}

.filterField{
    height: 15px;
    display: block;
    clear: both;
}