div.container{
    display: flex;
    margin: 0;
}
div.ridertablecontainer{
    width: 50%;
}
div.usertablecontainer{
    width: 50%;
}
div.budget{
    background-color: lightgray;
}

div.budget{
    text-align: center;
    background-color: lightgray;
    width: 400px;
}

button.budgetSwitch{
    text-align: center;
    background-color: lightgray;
    border: 2px solid  gray;
}

div.teamindicator{
    text-align: center;
    background-color: lightgray;
    width: 400px;
}