html{
  /*Defineer de kleuren van de website*/
    /*Grijstinten*/
    --grey1: hsl(0, 0%, 10%);
    --grey2: hsl(0, 0%, 20%);
    --grey3: hsl(0, 0%, 30%);
    --grey4: hsl(0, 0%, 40%);
    --grey5: hsl(0, 0%, 50%);
    --grey6: hsl(0, 0%, 60%);
    --grey7: hsl(0, 0%, 70%);
    --grey8: hsl(0, 0%, 80%);
    --grey9: hsl(0, 0%, 90%);
    /*Roodtinten/Vueltakleuren*/
    --red1: hsl(0, 100%, 20%);
    --red2: hsl(0, 100%, 32%);
    --red3: hsl(0, 100%, 44%);
    --red4: hsl(0, 75%, 56%);
    --red5: hsl(0, 90%, 65%);
    --red6: hsl(0, 100%, 74%);
    --red7: hsl(0, 100%, 80%);
    --red8: hsl(0, 100%, 92%);
    /*Groentinten*/
    --green1: hsl(120, 100%, 20%);
    --green2: hsl(120, 90%, 32%);
    --green3: hsl(120, 80%, 44%);
    --green4: hsl(120, 70%, 56%);
    --green5: hsl(120, 70%, 68%);
    --green6: hsl(120, 80%, 80%);
    /*Blauwtinten*/
    --blue1: hsl(220, 100%, 20%);
    --blue2: hsl(220, 90%, 32%);
    --blue3: hsl(220, 80%, 44%);
    --blue4: hsl(220, 80%, 56%);
    --blue5: hsl(220, 80%, 68%);
    --blue6: hsl(220, 80%, 74%);
    --blue7: hsl(220, 80%, 80%);
    --blue8: hsl(220, 80%, 92%);
    /*Rozetinten/Girokleuren*/
    --pink1: hsl(300, 100%, 20%);
    --pink2: hsl(300, 100%, 32%);
    --pink3: hsl(300, 100%, 44%);
    --pink4: hsl(300, 100%, 56%);
    --pink5: hsl(300, 100%, 68%);
    --pink6: hsl(300, 100%, 80%);
    --pink7: hsl(300, 100%, 92%);
    /*Geeltinten/Tourkleuren*/
    --yellow1: hsl(55, 100%, 20%);
    --yellow2: hsl(55, 100%, 32%);
    --yellow3: hsl(55, 100%, 44%);
    --yellow4: hsl(55, 100%, 56%);
    --yellow5: hsl(55, 100%, 68%);
    --yellow6: hsl(55, 100%, 80%);
    --yellow7: hsl(55, 100%, 92%);
    
    --background-color: rgba(200, 200, 219, 0.98);
    --background-color-transparent: rgba(230, 230, 240, 0.68);
    --background-color-dark: #444;
    --background-color-darker: rgb(46, 46, 46);
    --light-grey: ;

    --default-color: var(--blue4);
    --default-color-light: var(--blue5);

    --giro-color: var(--pink4);
    --giro-color-light: var(--pink5);

    --tour-color: var(--yellow4);
    --tour-color-light: var(--yellow5);
    
    --vuelta-color: var(--red4);
    --vuelta-color-light: var(--red5);
    
    --secondary-color: rgba();
}