 /* Dropdown Button */
 .item {
    background-color: grey;
    color: black;
    font-size: 16px;
    border: 5px;
    margin: 0 1px;
    padding: 10px 10px;
    text-decoration: black
  }

  .item:hover{
    background-color: darkgray;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #f1f1f1; */
    white-space: nowrap;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }


  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  