<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Sport raden enzo</a>
        
        <a class="navbar-brand" style="float:right" href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
        <a class="navbar-brand" style="float:right" href="/profile"><span class="glyphicon glyphicon-user"></span> Profielpagina</a>
        <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
    </div>
</nav>